In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\dell\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click->nltk) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
import pandas as pd

In [5]:
fake=pd.read_csv("D:\Fake.csv")

In [6]:
true=pd.read_csv("D:\True.csv")

In [7]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [8]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [9]:
display(true.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [10]:
display(true.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [11]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [12]:
fake['target']=0
true['target']=1

In [13]:
display(true.head(10))

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [14]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
data=pd.concat([fake,true],axis=0)

In [16]:
date=data.reset_index(drop=True)

In [17]:
data=data.drop(['subject','date','title'],axis=1)

In [18]:
data

                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
21413  LONDON (Reuters) - LexisNexis, a provider of l...       1
21414  MINSK (Reuters) - In the shadow of disused Sov...       1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...       1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [19]:
print(data.columns)

Index(['text', 'target'], dtype='object')

### Tokenization

In [20]:
from nltk.tokenize import word_tokenize

In [21]:
data['text']=data['text'].apply(word_tokenize)

### Stemming

In [24]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [25]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [26]:
data['text']=data['text'].apply(stem_it)

### STOPWORD REMOVAL

In [27]:
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [29]:
data['text']=data['text'].apply(stop_it)

In [30]:
data['text']=data['text'].apply(' '.join)

In [31]:
data

                                                    text  target
0      donald trump just couldn wish all american hap...       0
1      hous intellig committe chairman devin nune hav...       0
2      friday was reveal that former milwauke sheriff...       0
3      christma day donald trump announc that would b...       0
4      pope franci use his annual christma day messag...       0
...                                                  ...     ...
21412  brussel reuter nato alli tuesday welcom presid...       1
21413  london reuter lexisnexi provid legal regulator...       1
21414  minsk reuter the shadow disus soviet-era facto...       1
21415  moscow reuter vatican secretari state cardin p...       1
21416  jakarta reuter indonesia will buy sukhoi fight...       1

[44898 rows x 2 columns]

### Splitting

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

3216     case you are unawar becaus donald trump the pr...
23215    shawn helton 21st centuri wireyesterday wave d...
22105    tune the altern current radio network acr for ...
9903     st. loui former st. loui polic offic jason sto...
16139    texa feder judg appoint obama has again reject...
Name: text, dtype: object

3216     0
23215    0
22105    0
9903     0
16139    0
Name: target, dtype: int64

### Vectorization

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.transform(X_test)

In [35]:
print(tfidf_train)

  (0, 73147)	0.035820446257037966
  (0, 60505)	0.04412895366071528
  (0, 73065)	0.03189011963026803
  (0, 34721)	0.022625363117862146
  (0, 86753)	0.01562949248406545
  (0, 40999)	0.03322920101378302
  (0, 31375)	0.017520129772859785
  (0, 82719)	0.043800019486398854
  (0, 82375)	0.02083819270424446
  (0, 69539)	0.022516458431202407
  (0, 55639)	0.011767674758056191
  (0, 30377)	0.019847548065475992
  (0, 85589)	0.02180043207989916
  (0, 77025)	0.03420384097173025
  (0, 71336)	0.022341637636171537
  (0, 79238)	0.027454833744283296
  (0, 30389)	0.04040146077496972
  (0, 77636)	0.011407654134414023
  (0, 42831)	0.01715892566089102
  (0, 25962)	0.026416906301292297
  (0, 73748)	0.032217699614402365
  (0, 87662)	0.02707044596806243
  (0, 56206)	0.01817036898102187
  (0, 36875)	0.026135130953573022
  (0, 66483)	0.04121875768674451
  :	:
  (33672, 22893)	0.0761404258097983
  (33672, 35805)	0.08949045200702085
  (33672, 89650)	0.04710522070959652
  (33672, 9342)	0.03809427410902581
  (33672, 85911)	0.047039883813397305
  (33672, 59854)	0.20339521359695692
  (33672, 8290)	0.04499995588213939
  (33672, 16878)	0.06919742095286735
  (33672, 12339)	0.04638039521870258
  (33672, 27709)	0.048441268628695994
  (33672, 22462)	0.08895556722335088
  (33672, 87963)	0.046579520814010615
  (33672, 11652)	0.05588229659133919
  (33672, 77636)	0.10478933550002173
  (33672, 38430)	0.10515072122094088
  (33672, 85208)	0.04576487590346704
  (33672, 57613)	0.05021306122266186
  (33672, 81183)	0.03579933209911125
  (33672, 81210)	0.04512443492425496
  (33672, 65484)	0.06681465045666801
  (33672, 13606)	0.03473740706798372
  (33672, 37942)	0.05627178283539147
  (33672, 84114)	0.04438678113857648
  (33672, 60204)	0.049799168647922096
  (33672, 61443)	0.10848727622285069

### LogisticRegression

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [37]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_test)

In [38]:
pred_1

array([1, 0, 1, ..., 1, 0, 1], dtype=int64)

In [39]:
y_test

18718    1
16404    0
7385     0
8044     0
1441     0
        ..
16668    0
11629    0
16216    1
8556     0
14020    1
Name: target, Length: 11225, dtype: int64

In [40]:
cr1=accuracy_score(y_test,pred_1)
print(cr1*100)

98.89532293986638

### PassiveAgressiveClassifier

In [41]:
from sklearn.linear_model import PassiveAggressiveClassifier

model2=PassiveAggressiveClassifier(max_iter=50)
model2.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [43]:
y_pred=model2.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print('the accuracy of prediction is',accscore*100)

the accuracy of prediction is 99.70601336302896